@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .effet-text {
        -webkit-text-stroke-color: red;
        -webkit-text-stroke-color: #B91C1C;
        -webkit-text-stroke-width: 2px;
    }

    .effet-shawdow {
        text-shadow: #FFF 0px 0px 20px;
    }

    .effet-shawdowinligth {
        text-shadow: #000 0px 0px 20px;
    }
}

:root {
    --couleur-text: #fff;
    --couleur-fond: #161616;
    --couleur-header: #2d2d2d;
}


@media (prefers-color-scheme: light) {
    :root {
        --couleur-text: #000;
        --couleur-fond: #eef2ff;
        --couleur-header: #C7D2FE;
    }
}